# IDE
.idea/
.vscode/
*.iml

# Backend
backend/.gradle/
backend/build/
backend/*.class

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db
